.formLabel {
  display: block !important;
  font-weight: 500 !important;
  font-size: 1.6rem !important;
  color: black !important;
  font-family: inherit !important;
}

.formControl {
  width: 80%;
  margin: 1rem auto;
}

.radioGroup {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  color: black;
  font-family: inherit;
}
